@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root{
    --main-bg-color: #287728f0
}
/* *{
    padding: 2px;
    margin: 0;
} */
header{
    background: var(--main-bg-color);
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}
nav{
    display:flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
}
.lines h2{
    font-family: 'Lato', sans-serif;
}
.lines{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color); 
    color: white;
    font-family: 'Lato', sans-serif;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{ 
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
    
}
.slider img{
    width: 1200px;
}
.lines img{
    width: 500px;
    margin: 12px auto ;
    overflow: hidden;
}